<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.senri1101.screencast-lite</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__SCAN_SCRIPT_PATH__</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>__HOME_PATH__</string>
  </dict>

  <key>WatchPaths</key>
  <array>
    <string>__DESKTOP_PATH__</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__LOG_PATH__</string>

  <key>StandardErrorPath</key>
  <string>__ERR_LOG_PATH__</string>
</dict>
</plist>
